<launch>
<!-- <node pkg="pc_process" type="test1" name="test1" output="screen" args="-i /home/lqh/ros/pc_ws/src/pointcloud_dev/application/preporcess/dataset/2.pcd -o /home/lqh/ros/pc_ws/src/pointcloud_dev/application/preporcess/dataset/4.pcd"/> -->

<node pkg="pc_process" type="test1" name="test1" output="screen" args="-t 1 -i /home/lqh/ros/pc_ws/src/pointcloud_dev/application/preporcess/dataset/indoor/cloud2.pcd -o /home/lqh/ros/pc_ws/src/pointcloud_dev/application/preporcess/dataset/4.pcd --SV"/>
</launch>
